<!DOCTYPE html>
<html>

<head>
    <title> HomePage </title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="/static/main.css">

</head>

<body>
    <div>
        <h1>Monitoring</h1>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/monitoring">Status of PC</a> </li>
            <li><a href="/requests-download">Request Download</a></li>
            <li><a href="/status">Status of Downloads</a></li>
            <li style="float:right"><a class="active" href="/about">About</a></li>

        </ul>
    </div>
    <h2>Creators</h2>
    <h3>Javier Palacios</h3>
    <h3>Jose Vargas</h3>
    <h3>Luis Granja</h3>
</body>

</html>