<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="/static/main.css">

</head>

<body>
    <div>
        <h1>Monitoring</h1>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/monitoring">Status of PC</a> </li>
            <li><a class="active" href="/requests-download">Request Download</a></li>
            <li><a href="/status">Status of Downloads</a></li>
            <li style="float:right"><a href="/about">About</a></li>

        </ul>
    </div>
    <br>
    <div class="form">
        <form name="Send" action="/requests-download" method="POST">
            <label for="magnetlink">Magnetlink:</label>
            <input type="text" name="magnetlink">
            <button class="button button1" type="submit" value="Program"> Program</button>
        </form>
    </div>

</body>

</html>
